.mainHeader {
    background: linear-gradient(125deg, #c261ff, #26de81);
    background-size: 250% 250%;
    animation: headerBgAnimation 20s ease infinite;
}

@keyframes headerBgAnimation {
    0% {
        background-position: 10% 0%;
    }
    50% {
        background-position: 90% 100%;
    }
    100% {
        background-position: 10% 0%;
    }
}
